@model IEnumerable<MatchManager.Models.Player>

@{
    ViewData["Title"] = "GetAllPlayers";
}

<h2>GetAllPlayers</h2>

<p>
    <button onclick="window.location.href='/Player/CreatePlayer'" class="waves-effect waves-light btn pulse"><i class="material-icons right">create</i>Create User</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td><button type="button" onclick="location.href='@Url.Action("EditPlayer", new { id = item.Id })'" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">edit</i></button></td>
            <td><button type="button" onclick="location.href='@Url.Action("DetailsPlayer", new { id = item.Id })'" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">details</i></button></td>
            <td><button type="button" onclick="location.href='@Url.Action("DeletePlayer", new { id = item.Id })'" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></button></td>
        </tr>
}
    </tbody>
</table>
